.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  background: rgb(3, 95, 148);
}

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.navbar-logo img {
  width: 40px;
  height: 40px;
}

.navbar-logo h2 {
  color: white;
}

.navbar-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-btn button {
  padding: 8px 20px;
  background: #01b58c;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 20px;
  font-weight: 600;
}
